[defaults]
inventory = inventory/lab/hosts
roles_path = roles
collections_path = collections
# Set to True and pre-populate known_hosts for stricter security
host_key_checking = False
deprecation_warnings = False