server {
    listen 80;
    server_name {{ wordpress_domain }} www.{{ wordpress_domain }};

    root {{ wp_root }};
    index index.php index.html;

    set $skip_cache 0;

    # Do not cache POST
    if ($request_method = POST) {
        set $skip_cache 1;
    }

    # Do not cache logged-in users
    if ($http_cookie ~* "wordpress_logged_in|woocommerce_items_in_cart|woocommerce_cart_hash") {
        set $skip_cache 1;
    }

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;

        fastcgi_cache WORDPRESS;
        fastcgi_cache_valid 200 60m;
        fastcgi_cache_bypass $skip_cache;
        fastcgi_no_cache $skip_cache;

        add_header X-FastCGI-Cache $upstream_cache_status;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico|woff|woff2|svg)$ {
        expires max;
        log_not_found off;
    }
}
